.contacts {
  background: url('~images/bg/budda.jpg') top right 53% no-repeat / cover;
  padding-top: 245px;
  padding-bottom: 135px;
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 6%);
}

.contacts__form-title {
    margin-bottom: 80px;
}

.contacts__about {
  margin-bottom: 130px;
}

.contacts__container {
  padding-right: 26%;
}

.contacts__form {
  width: 89%;
}