.header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header__menu {
  flex: 1; //0204
  @include tablets {
    display: none;
  }
}

.header__buttons {
  @include tablets {
    margin-left: auto;
  }
  @include phones {
    display: none;
  }
}